.errmsg {
  display: block;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.pg-wrapper {
  display: flex;
  justify-content: space-between;
  height: 80vh;

  .logo {
    margin: auto;

    @media (max-width: 1024px) {
      display: none;
    }

    img {
      @media (max-width: 768px) {
        max-width: 100%;
        margin-top: 100px;
      }

      @media (max-width: 400px) {
        max-width: 60%;
      }
    }
  }

  .container {
    margin: auto;

    @media only screen and (min-width: 1025px) {
      justify-content: space-around;
      align-items: center;

      .content {
        max-width: 60%;
      }
    }

    @media only screen and (max-width: 600px) {
      margin: auto;
      text-align: center;

      .content {
        margin: auto;
        align-items: center;
      }
    }

    @media only screen and (max-width: 768px) {
      margin: auto;
      text-align: center;

      .content {
        margin: auto;
        align-items: center;
      }
    }

    @media only screen and (max-width: 400px) {
      margin: auto;
      text-align: center;

      .content {
        margin: auto;
        align-items: center;
      }
    }

    .title {
      width: 100%;
      color: #000;
      margin-left: 4px;
      white-space: nowrap;

      @media (max-width: 768px) {
        h1 {
          font-size: 20px;
        }

        p {
          font-size: 18px;
        }
      }

      @media (max-width: 400px) {
        h1 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }

      h1 {
        font-size: 60px;
        margin: auto;
      }

      p {
        font-size: 25px;
        font-weight: 600;
      }
    }

    .content {
      width: 60%;

      @media only screen and (max-width: 600px) {
        padding: 20px;
      }

      @media only screen and (min-width: 601px) and (max-width: 1024px) {
        max-width: 80%;
      }

      .s-login {
        margin: auto;
        width: 100%;

        .s-lgn {
          width: 100%;
          margin-bottom: 1rem;
          border: none;
          text-decoration: none;
          text-align: center;
        }
      }

      .separator {
        display: flex;
        align-items: center;
        margin-top: -1.5rem;
        color: #303030;

        .line {
          flex: 1;
          height: 1px;
          background-color: #dae1e7;
          margin: 0 10px;
        }
      }

      .axn {
        margin: auto;
        margin-top: -1.5rem;
        width: 100%;
        text-align: center;

        .sign-up {
          margin: auto;
          padding: 6px 12px;
          width: 98%;
          float: right;
          font-size: 15px;
          font-weight: 600;
          border-radius: 25px;
          color: #ffffff;
          background-color: #1da1f2;
          border: none;
          text-decoration: none;
          text-align: center;
          cursor: pointer;

          &:hover {
            background-color: #0d8ecf;
          }

          .axn-text {
            white-space: nowrap;
          }
        }

        .terms {
          font-size: 10px;
        }

        .sign-in {
          width: 98%;
          float: right;
          padding: 6px 12px;
          font-size: 15px;
          font-weight: 600;
          margin-top: 1rem;
          cursor: pointer;
          border-radius: 20px;
          color: #1da1f2;
          background-color: #fff;
          border: 1px solid #dae1e7;
          text-decoration: none;
          text-align: center;

          &:hover {
            background-color: #eaeef2;
          }
        }
      }

      .have-acc {
        color: #303030;
        margin-left: 4px;
        font-weight: 600;
      }
    }
  }
}
