.pg-wrapper {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  overflow: hidden;

  .logo {
    margin: auto;
    margin-right: 100px;
    width: 12rem;
    height: 12rem;

    img {
      max-width: 100%;
    }
  }

  .errmsg {
    display: block;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .offscreen {
    position: absolute;
    left: -9999px;
  }  

  .container {
    margin: auto;
    margin-left: 10px;

    @media only screen and (max-width: 1024px) {
      text-align: center;
      margin: auto;
    }

    .content {
      margin: auto;
      max-width: 80%;

      @media only screen and (max-width: 600px) {
        padding: 20px;
      }
    }

    .title {
      width: 100%;
      color: #000;
      white-space: nowrap;
  
      h1 {
        font-size: 50px;
        margin: auto;
      }
  
      .have-acc {
        color: #303030;
        margin-left: 4px;
        font-weight: 600;
      }
  
      @media (max-width: 768px) {
        h1 {
          font-size: 40px;
        }
  
        p {
          font-size: 18px;
        }
      }
  
      @media (max-width: 400px) {
        h1 {
          font-size: 20px;
        }
  
        p {
          font-size: 16px;
        }
      }
    }
  
    .content {
      max-width: 80%;
  
      @media only screen and (max-width: 600px) {
        padding: 20px;
      }
  
      @media only screen and (min-width: 601px) and (max-width: 1024px) {
        max-width: 80%;
      }
  
      .s-login {
        margin: auto;
        width: 100%;
  
        .s-lgn {
          width: 100%;
          margin-bottom: 1rem;
          border: none;
          text-decoration: none;
          text-align: center;
        }
      }
  
      .separator {
        display: flex;
        align-items: center;
        margin-top: -1.5rem;
        color: #303030;
  
        .line {
          flex: 1;
          height: 1px;
          background-color: #dae1e7;
          margin: 0 10px;
        }
      }
  
      .axn {
        margin: auto;
        margin-top: -1.5rem;
        width: 100%;
        text-align: center;
        // border: 1px solid red;
  
        .sign-up {
          margin: auto;
          padding: 6px 12px;
          width: 98%;
          float: right;
          font-size: 15px;
          font-weight: 600;
          border-radius: 25px;
          color: #ffffff;
          background-color: #1da1f2;
          border: none;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
  
          &:hover {
            background-color: #0d8ecf;
          }
  
          .axn-text {
            white-space: nowrap;
          }
        }
  
        .terms {
          font-size: 10px;
        }
  
        .sign-in {
          width: 98%;
          float: right;
          padding: 6px 12px;
          font-size: 15px;
          font-weight: 600;
          margin-top: 1rem;
          cursor: pointer;
          border-radius: 20px;
          color: #1da1f2;
          background-color: #fff;
          border: 1px solid #dae1e7;
          text-decoration: none;
          text-align: center;
  
          &:hover {
            background-color: #eaeef2;
          }
        }
      }
  
      .have-acc {
        color: #303030;
        margin-left: 4px;
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
    height: 100vh;
    margin: auto;

    .logo {
      margin: auto;
      padding: 3rem;
    }
  }
}
