.min-height-300 {
  .sidenav {
    position: relative;
    transition: all 0.2s ease-in-out;
    height: 100%;
    border-right: 0.5px solid #dae1e7;
    margin-bottom: 1rem !important;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    background-color: #fff;

    &.navbar-expand-xs {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 20%;
      overflow-y: hidden;
      overflow-x: hidden;
      padding: 0;
      box-shadow: none;
      z-index: 1;
    }

    .sidenav-header {
      height: 4.875rem;

      .navbar-brand {
        height: 4.875rem;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        // justify-content: center;
        text-decoration: none;
        cursor: pointer;

        .navbar-brand-img {
          height: 40px;
          margin-right: 10px;
        }

        h6 {
          font-size: 18px;
          margin: 0;
          color: #1da1f2;
        }
      }
    }

    hr {
      border-top: none;
      height: 1px;
      margin: 1rem 0;
      color: inherit;
      border: 0;
      opacity: 0.25;
      display: block;
      unicode-bidi: isolate;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      margin-inline-start: auto;
      margin-inline-end: auto;
      overflow: hidden;
    }

    .dark {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));

      &.horizontal {
        background-color: transparent;
      }

      &:not(.dark) {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
      }

      &.mt-0 {
        margin-top: 0 !important;
      }
    }

    .navbar-collapse {
      text-align: center;
      padding: 0;
      margin: 0;
      list-style: none;
      flex-wrap: wrap;
      margin-left: 0 !important;
      margin-right: 0 !important;
      justify-content: center;
      align-items: center;

      &.w-auto {
        width: auto !important;
      }

      @media print, screen and (min-width: 40em) {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px;
        width: auto;
        margin-right: 0.9375rem;
        margin-left: 0.9375rem;
      }

      @media print, screen and (min-width: 64em) {
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-align: center;
        align-items: center;
        background-color: transparent;
      }

      @media (max-width: 767.98px) {
        position: relative;
      }

      @media screen and (min-width: 64em) and (orientation: portrait) {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex: 1 1 0px;
        flex: 1 1 0px;
        width: auto;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      .navbar-nav {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        white-space: nowrap;
        list-style: none;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-align: center;
        align-items: flex-start;

        li {
          display: list-item;
          text-align: -webkit-match-parent;
        }

        .nav-item {
          padding: 0.675rem;

          .nav-link {
            margin: 0 0.5rem;
            // padding: 0 0.675rem;
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-size: 1rem;
            transition:
              color 0.15s ease-in-out,
              background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out;
            color: #343434;
            font-weight: 500;
            isolation: isolate;
            border-color: var(--bs-nav-tabs-link-hover-border-color);
            border-radius: 2rem;
            width: 100%;
            height: 35px;

            &.active {
              box-shadow: none;
              color: #343434;
              font-weight: 600;
              border-radius: 2rem;
            }

            &:hover {
              background-color: #f3f3f3;
              box-shadow: none;
              color: #343434;
              border-radius: 2rem;
            }

            .icon {
              padding: 10px;
              fill: currentColor;
              stroke: none;

              &.border-radius-md {
                border-radius: 0.5rem;
              }

              &.icon-sm {
                width: 32px;
                height: 32px;
              }

              &.icon-shape {
                background-position: center;
              }

              &.text-center {
                text-align: center !important;
              }

              .me-2 {
                margin-right: 0.5rem !important;
              }

              &.align-items-center {
                align-items: center !important;
              }

              &.justify-content-center {
                justify-content: center !important;
              }

              &.d-flex {
                display: flex !important;
              }

              .ni {
                top: 0;
                display: inline-block;
                font: normal normal normal 14px/1 NucleoIcons;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;

                &.text-sm {
                  font-size: 1rem !important;
                  line-height: 1.5;
                }

                &.text-primary {
                  color: #5e72e4 !important;
                }

                &.opacity-10 {
                  opacity: 1 !important;
                }

                &.text-warning {
                  color: #fb6340 !important;
                }

                &.text-ellipsis {
                  color: rgb(0, 136, 255) !important;
                }

                &.text-success {
                  color: #344767 !important;
                }

                &.text-info {
                  color: #f5365c !important;
                }

                &.text-danger {
                  color: #1da1f2 !important;
                }

                &.text-dark {
                  color: #343434 !important;
                }

                .fa-dashboard {
                  padding-top: 0.35rem;
                }
              }

              i {
                pointer-events: none;
                position: relative;
              }
            }

            .nav-link-text {
              pointer-events: none;
              transition: 0.3s ease;
              opacity: 1;

              @media (max-width: 767.98px) {
                font-size: 0.9rem;
              }

              &.ms-1 {
                margin-left: 0.25rem !important;
              }
            }
          }

          &.mt-3 {
            margin-top: 1rem !important;
          }

          .text-xs {
            font-size: 0.75rem !important;
            line-height: 1.25;

            &.font-weight-bolder {
              font-weight: 700 !important;
            }

            &.text-uppercase {
              text-transform: uppercase !important;
            }

            &.ps-4 {
              padding-left: 1.5rem !important;
            }

            &.ms-2 {
              margin-left: 0.5rem !important;
            }

            &.opacity-6 {
              opacity: 0.6 !important;
            }
          }

          .dis-flex {
            display: flex;
            align-items: center;

            .icon-back {
              padding: 8px;
              margin-left: 15px;

              &:hover {
                background-color: #e6f1fb;
                box-shadow: none;
                color: #344767;
                font-weight: 900;
                border-radius: 50%;
              }
            }
          }
        }

        a {
          line-height: 1;
          text-decoration: none;
          display: block;
          margin-bottom: 0;
          font-size: 1rem;
          color: #000;
          text-decoration: none;
          transition:
            padding 0.2s,
            border-color 0.2s;
        }
      }

      .logout {
        position: absolute;
        bottom: 0;
        width: calc(100% - 0.5rem);
        margin-left: 0.25rem;
        margin-bottom: 10px;
        background-color: #ffffff;
        color: #303030;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 2rem;

        .user {
          display: flex;
          justify-content: center;
          white-space: nowrap;
          padding: 0.5rem;
          cursor: pointer;
          border-radius: 2rem;

          &.no-hover {
            &:hover {
              background-color: #fff;
              box-shadow: none;
              border-radius: 0rem;
              cursor: default;
            }
          }

          &:hover {
            background-color: #f3f3f3;
            box-shadow: none;
          }

          .cnt {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .nav-link-text {
              margin-left: 0.5rem;
              font-weight: 600;
            }

            .ni {
              margin-right: 0.5rem;
              color: #1da1f2;
            }
          }
        }

        @media (max-width: 480px) {
          position: fixed;
          left: 0;
          margin-bottom: 1.5rem;
          margin-left: 0.5rem;
          align-items: center;
          justify-content: center;
          width: calc(35% - 1rem);

          .user {
            padding: 0.4rem;
            width: 100%;

            .cnt {
              justify-content: center;

              .nav-link-text {
                font-size: 12px;
                font-weight: 600;
              }

              .ni {
                display: none;
              }
            }
          }
        }

        &.open {
          /* Extra Small Devices, Phones */
          @media (max-width: 480px) {
            display: flex;
            padding-top: 0.375rem;
            background-color: rgba(249, 249, 249, 1);
          }
        }

        // /* Extra Small Devices, Phones */
        @media (max-width: 480px) {
          display: none;
        }
      }
    }
  }

  &.open {
    /* Extra Small Devices, Phones */
    @media (max-width: 480px) {
      display: flex;
      padding-top: 0.375rem;
      background-color: rgba(255, 255, 255, 0.9);

      .sidenav {
        background-color: rgba(249, 249, 249, 1);
        border-right: none;

        &.navbar-expand-xs {
          width: 35%;
        }

        // .sidenav-header {
        //   .navbar-brand {
        //     // background-color: rgba(249, 249, 249, 0.8);
        //   }
        // }
      }
    }
  }

  /* Custom, iPhone Retina */
  @media only screen and (min-width: 320px) {
    display: none;
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    display: none;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    display: flex;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    display: flex;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    display: flex;
  }
}
