.wrapper {
  margin: auto;
  height: 100vh;
  overflow: hidden;
  padding: 0 10rem;

  .header {
    .navbar-brand {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 0.8rem;

      .navbar-brand-img {
        height: 40px;
        margin-right: 10px;
      }

      h6 {
        font-size: 18px;
        margin: 0;
        color: #1da1f2;
      }
    }

    .center {
      margin: auto;
      text-align: center;
      color: #000;

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .breadcrumb {
      list-style: none;
      font-size: 12.5px;
      margin: 0;
      margin-left: 12rem;
      padding: 0;

      li {
        display: inline-block;
        padding: 0 2px;

        &::after {
          content: " >  ";
        }

        &:last-child::after {
          content: "";
        }

        a {
          font-weight: normal;
          text-decoration: none;
          color: #1da1f2;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .errmsg {
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .offscreen {
    position: absolute;
    left: -9999px;
  }

  .inner {
    border-radius: 10px;
    margin: auto;
    overflow-y: scroll;

    .login100-form {
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 50%;

      .frm {
        margin: auto;
        padding: 0 1rem;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 0.5rem 0 rgb(136 152 170 / 15%);
        width: 100%;

        .form {
          padding: 1rem 0;
          margin: auto;

          .form-group {
            display: flex;
            margin: auto;

            .name-group {
              width: 100%;
              padding: 0;
              display: flex;
              justify-content: space-between;

              .form-wrapper {
                padding: 0;
                margin: 0;

                &:first-child {
                  margin-right: 20px;
                }
              }
            }
          }

          .form-wrapper {
            margin: auto;
            position: relative;

            .input-container {
              position: relative;

              .focus-input100 {
                position: absolute;
                top: 71%;
                transform: translateY(-50%);
                right: 10px;
                pointer-events: visible;
                transition: opacity 0.3s ease;
              }
            }

            .label-input100 {
              font-family: Poppins-Regular;
              font-size: 12.5px;
              color: #333333;
              line-height: 1.5;
              padding-left: 7px;

              .hide {
                display: none;
              }

              .valid {
                color: limegreen;
                margin-left: 0.25rem;
              }

              .invalid {
                color: red;
                margin-left: 0.25rem;
              }
            }

            .form-control {
              border: 1px solid #1da1f2;
              font-size: 1rem;
              border-radius: 4px;
              padding: 0 7px 0 43px;
              color: rgba(0, 0, 0, 0.87);
              background-color: transparent;
              transition: border-color 0.2s;
              height: 35px;
              width: 100%;

              &:focus {
                border: 1px solid #1da1f2;
                outline: none;
              }

              &::placeholder {
                position: absolute;
                font-size: 10px;
                font-weight: 500;
                margin-top: 0.18rem;
                color: #adb5bd;
              }
            }

            .input-field {
              border: 1px solid #1da1f2;
              font-size: 1rem;
              border-radius: 4px;
              padding: 0 7px 0 43px;
              color: rgba(0, 0, 0, 0.87);
              background-color: transparent;
              transition: border-color 0.2s;
              height: 35px;
              width: 100%;

              &:focus {
                border: 1px solid #1da1f2;
                outline: none;
              }

              &::placeholder {
                position: absolute;
                font-size: 10px;
                font-weight: 500;
                margin-top: 2rem;
                color: #adb5bd;
              }
            }

            .input-field-c-pwd {
              border: 1px solid #1da1f2;
              font-size: 1rem;
              border-radius: 4px;
              padding: 0 7px 0 43px;
              color: rgba(0, 0, 0, 0.87);
              background-color: transparent;
              transition: border-color 0.2s;
              height: 35px;
              width: 100%;

              &:focus {
                border: 1px solid #1da1f2;
                outline: none;
              }

              &::placeholder {
                position: absolute;
                font-size: 10px;
                font-weight: 500;
                margin-top: 0.18rem;
                color: #adb5bd;
              }
            }

            .instructions {
              font-size: 0.6rem;
              border-radius: 0.5rem;
              background: #000;
              color: #fff;
              padding: 0.25rem;
              position: relative;
            }

            .instructions > svg {
              margin-right: 0.25rem;
            }

            .offscreen {
              position: absolute;
              left: -9999px;
            }

            .focus-input100 {
              display: flex;
              width: 10%;
              left: 0.18rem;
              color: #1da1f2;

              &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background: #7f7f7f;
                box-sizing: inherit;
                transition: all 0.4s;
              }

              &::after {
                content: attr(data-symbol);
                font-family: Material-Design-Iconic-Font;
                color: #adadad;
                font-size: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                height: calc(100% - 20px);
                bottom: 0;
                left: 0;
                padding-left: 13px;
                padding-top: 3px;
                box-sizing: inherit;
              }

              &.input-icon {
                width: 1.5rem;
                height: 1.5rem;
                padding: 2px;
                left: inherit;
                cursor: pointer;
              }

              &.input-icon-c-pwd {
                width: 1.5rem;
                height: 1.5rem;
                padding: 2px;
                left: inherit;
                cursor: pointer;
              }
            }
          }

          .btn-section {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            &.login {
              display: block;

              .btn {
                button {
                  width: 100%;
                }
              }

              .link {
                float: right;
              }
            }

            button {
              border: none;
              height: 2.2rem;
              width: 10rem;
              margin: auto;
              background: #1da1f2;
              font-size: 13px;
              color: #fff;
              cursor: pointer;
              text-transform: uppercase;
              border-radius: 20px;
              overflow: hidden;
              transform: perspective(1px) translateZ(0);
              box-shadow: 0 0 1px rgb(0 0 0 / 0%);

              &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(217deg, #1da1f2, #3865cf, #1da1f2 70.71%);
                transform: scaleX(0);
                transform-origin: 0 50%;
                transition-property: transform;
                transition-duration: 0.5s;
                transition-timing-function: ease-out;
              }

              &:hover:before {
                transform: scaleX(1);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
              }
            }

            .link {
              border: none;
              margin: auto;
              margin-right: 0;
              cursor: pointer;
              text-decoration: underline;
              font-size: 13px;
              color: #666666;

              &:focus,
              &:hover {
                color: darken(#999, 30%);
              }
            }
          }

          .flex-col-c {
            margin: auto;
            margin-top: 2.5rem;
            padding-bottom: 6rem;
            display: block;
            align-items: center;

            .txt1 {
              font-size: 14px;
              line-height: 1.5;
              color: #303030;
              font-weight: 600;
            }

            .txt2 {
              width: 100%;
              float: right;
              padding: 6px 12px;
              font-size: 15px;
              font-weight: 600;
              margin-top: 1rem;
              height: 2.2rem;
              cursor: pointer;
              border-radius: 20px;
              color: #1da1f2;
              background-color: #fff;
              border: 1px solid #1da1f2;
              text-decoration: none;
              text-align: center;

              &:hover {
                background-color: #eaeef2;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 1rem;

    .header {
      .center {
        h2 {
          font-size: 18px;
        }
      }

      .breadcrumb {
        margin-top: 1rem;
        margin-left: 0;
      }
    }

    .inner {
      border: none;
      margin: auto;

      .login100-form {
        width: inherit;
        margin: 0;

        .frm {
          padding: 0 0.5rem;
          box-shadow: none;

          .form-wrapper {
            .input-container {
              margin-top: 15px;
            }
          }

          .btn-section {
            padding: 1rem 0;
          }
        }
      }
    }
  }
}
